{% extends 'base.html' %}

{% block content %}
    <div class="pure-u">
        <div class="content">
            <!-- A wrapper for all the blog posts -->
            <!-- <a class="twitter-timeline" href="https://twitter.com/dngman" data-widget-id="704317254482182144">Tweets by @dngman</a>
            <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script> -->
            <div id="about" class="posts" >
                <h1 class="content-nicehead">
                    About me
                </h1>
                <p class='main'>I am a <a href="https://team.inria.fr/parietal/team-members/">researcher</a> at the French Institute for Research in Computer Science and Automation <a href="https://www.inria.fr/en/">(INRIA)</a> and a certified psychologist, working and living in Paris.</p>
                <p class='main'>I have specialized in non-invasive neurophysiology, i.e., magneto- and electroencephalography. My main interest lies in developing machine learning and statistical modeling approaches to characterizing cognitive functions brain dynamics in healthy and clinical populations. I am also interested in social cognition.</p>
                <p class='main'>
                Reproducible research, scalable numerical methods and data sharing are major concerns in contemporary science. To help address these challenges, I devote considerable time and energy to developing novel statistical methods and open source software that enable automated and repeatable data processing.</p>
            </div>

            <div id="events" class="posts" >

                <h1 class="content-nicehead">
                    Events
                </h1>
                <input type="radio" id="select-talks" name="color">
                    <label for="select-talks", class="label-talks">
                        talks
                    </label>

                <input type="radio" id="select-teach" name="color">
                    <label for="select-teach", class="label-teach">
                        teaching
                    </label>

                <input type="radio" id="select-awards" name="color">
                    <label for="select-awards", class="label-awards">
                        awards
                    </label>

                <input type="radio" id="select-attend" name="color">
                    <label for="select-attend", class="label-attend">
                        random
                    </label>


                <input type="radio" id="reset" name="color">
                    <label for="reset">reset</label>

                <p class="items">

                    <!-- <p class="post-meta", id="teach-item">
                        <a class='events-date'>June - 2016</a>
                        <a class="post-category post-category-teach">workshop</a>
                        "MNE-Python: sensor and source space analysis of M-EEG data" at the international Pattern Recognition in Neuroimaging Workshop 2016, Trento, Italy.
                    </p> -->

                    <p class="post-meta", id="attend-item">
                        <a class='events-date'>August - 2018</a>
                        <a class="post-category post-category-attend">poster</a>
                        I will present my joint work with Sami Abboud on semantic processing and cortical dynamics in the early blind at Biomag, Philadelphia, USA
                    </p>

                    <p class="post-meta", id="teach-item">
                        <a class='events-date'>April - 2018</a>
                        <a class="post-category post-category-talk">talk</a>
                        "The Challenge of Large-Scale and Population Analysis using MEG/EEG" LCFC, Hôpital Erasme, Brussels, Belgium
                    </p>

                    <p class="post-meta", id="attend-item">
                        <a class='events-date'>January - 2018</a>
                        <a class="post-category post-category-attend">poster</a>
                        Sami Abboud presents our joint work on semantic processing and cortical dynamics in the early blind at the EWCN in Bressanone, Italy
                    </p>

                    <p class="post-meta", id="teach-item">
                        <a class='events-date'>June- 2017</a>
                        <a class="post-category post-category-teach">workshop</a>
                        MNE-Python for analysis of MEG, Bari, Italy
                    </p>

                    <p class="post-meta", id="attend-item">
                        <a class='events-date'>June- 2017</a>
                        <a class="post-category post-category-teach">talk</a>
                        I'm talking at the ABC, Helsinki, Finland
                    </p>

                    <p class="post-meta", id="awards-item">
                        <a class='events-date'>June - 2017</a>
                        <a class="post-category post-category-awards">GSOC</a>
                        This year's MNE-Python Google Summer of Code (GSOC) is about our Beamformer code. I'm co-mentoring Britta Westner together with Alexandre Gramfort.
                    </p>

                    <p class="post-meta", id="teach-item">
                        <a class='events-date'>May- 2017</a>
                        <a class="post-category post-category-talk">talk</a>
                        "Learning from Oscillations -- New Vistas for Translational Neuroimaging?" MIT, Cambridge, MA
                    </p>


                    <p class="post-meta", id="attend-item">
                        <a class='events-date'>March - May 2017</a>
                        <a class="post-category post-category-attend">visiting fellow</a>
                        I am working at the <a href="http://www.nmr.mgh.harvard.edu/meg/people.php">MEG Core lab</a>, Martinos Center, MGH/Harvard-MIT

                    </p>

                    <p class="post-meta", id="attend-item">
                        <a class='events-date'>March - 2017</a>
                        <a class="post-category post-category-attend">coding sprint</a>
                        I will attend the <a href="https://kingjr.github.io/supervised_time_series/"> MNE-Python coding sprint</a> at NYU.
                    </p>

                    <p class="post-meta", id="teach-item">
                        <a class='events-date'>March- 2017</a>
                        <a class="post-category post-category-talk">talk</a>
                        Lessons learned from high-dimensional statistics and M/EEG: From automated preprocessing to detection of consciousness, Naples, Italy
                    </p>

                    <p class="post-meta", id="teach-item">
                        <a class='events-date'>November- 2016</a>
                        <a class="post-category post-category-teach">workshop</a>
                        Analyzing EEG using Python and the MNE Softare, Ghent, Belgium
                    </p>
                    <p class="post-meta", id="attend-item">
                        <a class='events-date'>October - 2016</a>
                        <a class="post-category post-category-attend">poster</a>
                        I will present my recent work on processing the <a href="</a>">Human Connectome (HCP) MEG data using MNE tools</a> at Biomag, Seoul, Korea
                    </p>
                    <p class="post-meta", id="attend-item">
                        <a class='events-date'>October - 2016</a>
                        <a class="post-category post-category-attend">poster</a>
                        My joint work with Mainak Jas and Alex Gramfort on automated artifact rejection will be presented at Biomag, Seoul, Korea
                    </p>
                    <p class="post-meta", id="awards-item">
                        <a class='events-date'>June - 2016</a>
                        <a class="post-category post-category-awards">INRIA concours</a>
                        I won the <a href="https://www.inria.fr/en/institute/recruitment/offers/starting-research-positions/acceptance-results">INRIA competition 2016 for the "starting researcher position"</a> and will soon join the
                        <a href="https://team.inria.fr/parietal/team-members/">parietal lab</a> as a research scientist.
                    </p>
                    <p class="post-meta", id="attend-item">
                        <a class='events-date'>June - 2016</a>
                        <a class="post-category post-category-attend">poster</a>
                        Our joint work on decoding of disorders of consciousness from clinical EEG is presented by Federico Raimondo and Jacobo Sitt at ASSC 20, Buenos Aires.
                    </p>
                    <p class="post-meta", id="awards-item">
                        <a class='events-date'>May - 2016</a>
                        <a class="post-category post-category-awards">GSOC</a>
                        This year's MNE-Python Google Summer of Code (GSOC) is about our decoding API. I'm co-mentoring Ashish Panda with Jaen-Rémi King and Alex Gramfort.
                    </p>

                    <p class="post-meta", id="teach-item">
                        <a class='events-date'>April - 2016</a>
                        <a class="post-category post-category-teach">workshop</a>
                        "MNE-Python for EEG/MEG analysis" at Goethe university, Frankfurt a. M., Germany.
                    </p>

                    <p class="post-meta", id="talks-item">
                        <a class='events-date'>April - 2016</a>
                        <a class="post-category post-category-talk">talk</a>
                        "Time resolved neuroimaging", ESGCO 2016, Lancaster, UK.
                    </p>

                    <p class="post-meta", id="attend-item">
                        <a class='events-date'>February - 2016</a>
                        <a class="post-category post-category-attend">sprint</a>
                        Coding at Brainhack, Paris.
                    </p>

                    <p class="post-meta", id="teach-item">
                        <a class='events-date'>January - 2016</a>
                        <a class="post-category post-category-teach">workshop</a>
                        Nilearn: statistical learning for fMRI in Python, Aachen, Germany.
                    </p>
                    <p class="post-meta", id="teach-item">
                        <a class='events-date'>January - 2016</a>
                        <a class="post-category post-category-teach">workshop</a>
                        "Processing EEG using MNE-Python", University of Salzburg, Austria
                    </p>
                    <p class="post-meta", id="teach-item">
                        <a class='events-date'>January - 2016</a>
                        <a class="post-category post-category-teach">lecture</a>
                        "Time-resolved noninvasive electrophysiological neuroimaging", doctoral college, University of Salzburg, Austria
                    </p>
                    <p class="post-meta", id="talks-item">
                        <a class='events-date'>November - 2015</a>
                        <a class="post-category post-category-talk">talk</a>
                        "Statistische Quantifizierung und Vorhersage von Bewusstsein anhand von kinischem EEG", Department of Psychiatry and Psychotherapy, University hospital Aachen, Germnany
                    </p>

                    <p class="post-meta", id="talks-item">
                        <a class='events-date'>October - 2015</a>
                        <a class="post-category post-category-talk">talk</a>
                        "Automated analysis of EEG for disease classification in DOC patients", Bar Ilan niversity, Israel.
                    </p>
                    <p class="post-meta", id="teach-item">
                        <a class='events-date'>October - 2015</a>
                        <a class="post-category post-category-teach">workshop</a>
                        MNE-Python training, Bar Ilan niversity, Israel.
                    </p>
                    <p class="post-meta", id="awards-item">
                        <a class='events-date'>October - 2015</a>
                        <a class="post-category post-category-awards">grant</a>
                        I received an Amazon in Education grant for research and development on M/EEG resting state dynamics.
                    </p>
                    <p class="post-meta", id="teach-item">
                        <a class='events-date'>September - 2015</a>
                        <a class="post-category post-category-teach">lecture</a>
                        "MNE-Python for EEG processing", UBA university, Buenos Aires, Argentina.
                    </p>
                    <p class="post-meta", id="talks-item">
                        <a class='events-date'>September - 2015</a>
                        <a class="post-category post-category-talk">talk</a>
                        "Automated analysis of EEG for disease classification in DOC patients", Universidad Torcuato Di Tella, Buenos Aires, Argentina.
                    </p>
                    <p class="post-meta", id="attend-item">
                        <a class='events-date'>June - 2015</a>
                        <a class="post-category post-category-attend">poster</a>
                        My work with Alex Gramfort on statistical learning of M/EEG noise covariance estimation and inverse solvers will be presented at the Human Brain Mapping conference 2015, Honolulu, USA
                    </p>

                    <p class="post-meta", id="talks-item">
                        <a class='events-date'>June - 2015</a>
                        <a class="post-category post-category-talk">talk</a>
                        "Automated Measurement and Prediction of Consciousness in Vegetative and Minimally Conscious Patients" at the neuroimaging workshop at the International Conference of Machine Learning, Lille, France.
                    </p>

                    <p class="post-meta", id="awards-item">
                        <a class='events-date'>March - 2014</a>
                        <a class="post-category post-category-awards">GSOC</a>
                        MNE-Python got accepted for this year's Google Summer of Code (GSOC). I'm mentoring Jaakko Leppäkangas project on interactive viz tools together with Mainak Jas.
                    </p>

                    <p class="post-meta", id="teach-item">
                        <a class='events-date'>December - 2014</a>
                        <a class="post-category post-category-teach">workshop</a>
                        MNE-Python workshop for M/EEG processsing, Télécom Paris-Tech, Paris, France.
                    </p>
                    <p class="post-meta", id="talks-item">
                        <a class='events-date'>August - 2014</a>
                        <a class="post-category post-category-talk">talk</a>
                        My work on M/EEG noise covariance estimation with Alex Gramfort will be presented at Biomag 2014, Halifax, Canada
                    </p>

                    <p class="post-meta", id="talks-item">
                        <a class='events-date'>June - 2014</a>
                        <a class="post-category post-category-talk">talk</a>
                        "Automated model selection for covariance estimation and spatial whitening of M/EEG signals", Human Brain Mapping conference 2014, Hamburg, Germany
                    </p>

                    <p class="post-meta", id="teach-item">
                        <a class='events-date'>May - 2014</a>
                        <a class="post-category post-category-teach">workshop</a>
                        MNE-Python for MEG processsing, MRC Cognition and Brain Sciences Unit, Cambridge, UK.
                    </p>
                    <p class="post-meta", id="awards-item">
                        <a class='events-date'>March - 2014</a>
                        <a class="post-category post-category-awards">GSOC</a>
                        MNE-Python got accepted for another Google Summer of Code (GSOC). I'm co-mentoring Mainak Jas' project on HTML-Reporting tools together with Alex Gramfort.
                    </p>

                    <p class="post-meta", id="teach-item">
                        <a class='events-date'>December - 2013</a>
                        <a class="post-category post-category-teach">workshop</a>
                        MNE-Python for M/EEG processsing, Brain and Spine Institute, Paris, France.
                    </p>
                    <p class="post-meta", id="awards-item">
                        <a class='events-date'>March - 2013</a>
                        <a class="post-category post-category-awards">GSOC</a>
                        The first MNE-Python google summer of code (GSOC). I'm co-mentoring Roman Goj project on Beamforming together with Alex Gramfort.
                    </p>

                </p>
            </div>
            <div id="publications" class="posts" >
                <h1 class="content-nicehead">
                    Publications and Preprints
                </h1>
                <p class="note">
                    <em>Note</em>. Equal contributions are indicated by an asterisk <sup>&#10033;</sup>.
                </p>
                {% for item in PUBLICATION_LIST %}
                    <p class="post-meta">
                        {{ item['author'] }} ({{ item['year']}}). <i>{{ item['title']}}</i>.
                    {% if item['ENTRYTYPE'] == 'inproceedings' %}
                        {{ item['booktitle'] }}
                    {% elif item['ENTRYTYPE'] == 'article' %}
                        {{ item['journal'] }}
                        {% if 'volume' in item %}
                            {{ item['volume'] }}: ({{ item['pages'] }}).
                        {% else %}
                            .
                        {% endif %}
                    {% else %}
                        42
                    {% endif %}
                    </p>
                {% endfor %}


                <!-- {% for item in PUBLICATION_LIST %}
                    <p class="post-meta">
                        {{ item['content'] }} will see you on {{ item['date'] }}
                    </p>
                {% endfor %} -->
            </div>

            <!-- <div id="talks" class="posts" >
                <h1 class="content-nicehead">
                    Talks
                </h1>
            </div> -->

            <div id="software" class="posts" >
                <h1 class="content-nicehead">
                    Software
                </h1>
                <!-- Optionally, include the theme (if you don't want to struggle to write the CSS) -->
                <!-- Prepare a container for your calendar. -->
                <div class="calendar">
                    <!-- Loading stuff -->
                    Loading my contributions data just for you (...)
                </div>

                <script>
                    GitHubCalendar(".calendar", "dengemann");
                </script>


                <h3 class="subheading">MNE Software for MEG and EEG</h3>

                <img src="images/mne_logo.png" align="right" />

                <p class="main">MNE-Python is the Python open source toolbox for processing and visualizing MEG and EEG data.
                   It facilitates a wide range of data processing task, including artifact rejection, diagnositc visualizations, decoding, source localization, time-frequency analysis and statistics.</p>
                   <p class="main">
                        I have been core contributor since 2012.
                   </p>
                <ul-softw>
                    <li><a href="http://martinos.org/mne/dev/index.html">http://martinos.org/mne/dev/index.html</a></li>
                    <li><a href="https://github.com/mne-tools/mne-python">https://github.com/mne-tools/mne-python</a></li>
                </ul-softw>

                <p class="main">
                     My most recent major contribution to MNE is the subproject <a href="http://mne-tools.github.io/mne-hcp/">MNE-HCP</a></li> for fast access to the <a href="http://www.humanconnectomeproject.org">Human Connectome Project</a> MEG data.
                </p>

                <h3 class="subheading">Tools for large-scale analysis of MEG and EEG data</h3>
                <p class='main'>Over the last years I developed novel methods and tools that facilitate analysis of MEG and EEG at diverse scales by adaptively automating common processing steps and simplifying access to data resources.</p>

                <h4 class='subsubheading'>The problem of data cleaning</h4>

                <p class='main'>Removing artifacts from EEG and MEG signals is a common and necessary step in data analysis and, unfortunately, has claimed significant investment of human attention in the past. I developed and evaluated a novel algorithm, termed autoreject, for detecting and handling contaminated MEG and EEG data segments.
                    Autoreject is described in Jas et al 2016 and is readily usable in a "plug and play" manner in a wide array of situations.
                    Notably, its successful usage does not require deep understanding of the method as it uses machine learning technology to handle artifact rejection in a data-driven manner, hence, reducing human processing time.
                    It will soon be disseminated through the MNE Software. The code is accessible on <a href="http://autoreject.github.io">github</a>.
                    Consider our <a href="https://arxiv.org/abs/1612.08194">arXive preprint</a> for in-depth validation including a reanalysis of the Human Connectome Project MEG data.</p>


                <h4 class='subsubheading'>The problem of covariance estimation for spatial whitening</h4>

                <p class="main">Spatial whitening based on the between-sensors covariance is a common element of source localization techniques and affects scaling and geometry of the estimated sources.
                    Unfortunately, the practically unknown effective sampling density can call for data-dependent regularization to ensure well-posed covariance estimates.
                    I developed and validated a novel algorithm that achieves scalable and data-driven regularization of the covariance (Engemann and Gramfort 2015, Engemann et al. 2015) by exploiting machine learning techniques
                    and the negative log-likelihood of the covariance as objective.
                    The code is dissiminated through the MNE-Software and can be used through the <a href="http://martinos.org/mne/stable/auto_examples/visualization/plot_evoked_whitening.html">high-level functions for covariance estimation</a>.
                    This functionality allows to re-allocate human attentional resources by automating a common problem of the most popular inverse solution techniques.
                    For an overview, consider these <a href="https://speakerdeck.com/dengemann/eeg-sensor-covariance-using-cross-validation">slides</a>.
                </p>

                <h4 class='subsubheading'>Automated extraction of diagnostics from clinical EEG</h4>
                <p class="main">
                    EEG is a commonly used technique used in neurology to supplement diagnostics of disorders of consciousness.
                    At the <a href="http://icm-institute.org/en/team/team-bartolomeo-cohen-naccache/">Brain and Spine Institute (ICM)</a>, Paris,
                    §and in collaboration with the intensive care unit at the Pitié-Salpêtrière Hospital, I developed an automated, scalable pipeline for extraction of EEG-biomarkers and automated diagnostical assistance.
                    This tool-stack can be run on various computational architectures, including <a href="https://aws.amazon.com">Amazon Webservices</a>, and is capitalizing on web-technology.
                    For example, it can be plugged into a webserver with remote-control over web browser and generates HTML reports by using the <a href="https://martinos.org/mne/stable/tutorials/report.html">MNE-Report technology</a>.
                    The solution is described in Engemann, Fraimondo et al 2015. Unfortunately, the source code is currently not compatible with open source licensing.
                    Parts of the code will be made available soon on github.
                </p>

                <h4 class='subsubheading'>Fast access to the Human Connectome Project MEG data</h4>
                <p class="main">
                    The <a href="http://www.humanconnectomeproject.org">Human Connectome Project</a> is one important data resource providing a wealth of information, i.e., hemodynamic and electrophysiological signals from task and resting state contexts, psycho-medical and genetic data.
                    By providing curated pipeline outputs at vairous processing stages, next to the raw data, this resource lends itself to validation for various research questions.
                    I am the founder of the <a href="http://mne-tools.github.io/mne-hcp/">MNE-HCP</a>, a novel library designed to maximize the comfort when using this data resource for analysis of MEG.
                    MNE-HCP abstracts away difficulties due to diverging coordinate systems, distributed information, and file format conventions.
                    Providing a simple and consistent access to HCP MEG data facilitates emergence of standardized data analysis practices and helps to drastically reduce human processing time when accessing these data from within Python.</p>
                <h3 class="subheading">Scikit-Learn</h3>

                <img src="images/scikit-learn.png" align="right" />

                <p class="main">Scikit-Learn is a rich statistical learning library that makes available a wide array of statistical models through a coherent interface.
                </p>

                <p class="main">
                    I have contributed several performance enhancements and documentation improvements to the decomposition module and computational core functions
                </p>

                <ul-softw>
                    <li><a href="http://scikit-learn.org/dev/">http://scikit-learn.org/dev/</a></li>
                    <li><a href="https://github.com/scikit-learn/scikit-learn">https://github.com/scikit-learn/scikit-learn</a></li>
                </ul-softw>

                <h3 class="subheading">Miscellaneous</h3>

                <p class="main">Smaller projects and libraries that I am authoring</p>

                <ul-softw>
                    <li><a href="https://github.com/dengemann/meeg-preprocessing">meeg-preprocessing: utils for cleaning reporting M/EEG data</a></li>
                    <li><a href="https://github.com/h5io">h5io: a convenient highlevel interface to hdf5 files</a></li>
                    <li><a href="https://github.com/pyeparse/pyeparse">pyeyeparse: MNE-style access to eyelink eye-tracking data</a></li>
                    <li><a href="https://github.com/PyMed/PyMed">PyMed: utils for processing PubMed records</a></li>
                </ul-softw>

            <div id="sci-review" class="posts" >
                <h1 class="content-nicehead">
                        Ad-hoc review activity
                </h1>
                <ul-softw>
                    <li><a href="http://journals.plos.org/plosbiology/">PLOS Biology</a></li>
                    <li><a href="http://journals.plos.org/ploscompbiol/">PLOS Computational Biology</a></li>
                    <li><a href="http://www.nature.com/srep/">Scientific Reports</a></li>
                    <li><a href="http://www.journals.elsevier.com/neuroimage/">Neuroimage</a></li>
                    <li><a href="https://www.journals.elsevier.com/neuroimage-clinical/">Neuroimage Clinical</a></li>
                    <li><a href="http://onlinelibrary.wiley.com/journal/10.1002/(ISSN)1097-0193">Human Brain Mapping</a></li>
                    <li><a href="http://www.jmlr.org">Journal of Machine Learning Research</a></li>
                    <li><a href="http://link.springer.com/journal/10548">Brain Topography</a></li>
                    <li><a href="http://www.liebertpub.com/overview/brain-connectivity/389/">Brain Connectivity</a></li>
                    <li><a href="http://www.j-alz.com/">Journal of Alzheimer's Disease</a></li>
                    <li><a href="https://academic.oup.com/nc">Neuroscience of Consciousness</a></li>
                    <li><a href="http://journals.plos.org/plosone/">PLOS ONE</a></li>
                    <li><a href="http://journal.frontiersin.org/journal/neuroscience">Frontiers in Neuroscience</a></li>
                    <li><a href"https://www.springer.com/biomed/neuroscience/journal/10827">Journal of Computational Neuroscience</a></li>
                    <li><a href="http://onlinelibrary.wiley.com/journal/10.1111/(ISSN)1440-1819">Psychiatry and Clinical Neurosciences</a></li>
                    <li><a href="http://www.mdpi.com/journal/sensors">Sensors</a></li>
                </ul-softw>
            </div>

<!--             <div id="collaborators" class="posts" >
                <h1 class="content-nicehead">
                    Collaborators
                </h1>
                <p class="post-meta">
                (in alphabetical order)
                </p>
                {% for name, desc, loc, link in COLLABORATORS_LIST %}
                    <p class="post-meta">
                        {% if link %}
                            <a class='collaborator'  href='{{ link }}'>{{ name }}</a> {{ desc }}, <em>{{loc}}</em>
                        {% else %}
                            <a class='collaborator'>{{ name }}</a> {{ desc }}, <em>{{loc}}</em>
                        {% endif %}
                    </p>
                {% endfor %}
            </div>
 -->
            </div>
        </div>
    </div>
{% endblock content %}
